.work{
    background: #e75b4c;
    .text-left{
        .icon{
            max-width: 50px;
        }
        p{
            font-weight: 400;
            margin-bottom: 0;
        }
        li{
            margin-bottom: 15px;
        }
    }
}